@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    padding:0px;
    margin:0px;
    display: flex;
    flex-direction: column;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 0px 3rem;
    align-items: center;
    background-color: #000;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    height: 2.5rem;
}
.logo h1{
    color: #f88010ec;
    font-family: 'Kalam',sans-serif;
}
.nav-items{
    display:flex;
    justify-content: space-between;
    list-style-type:none;
    align-items: center;
    gap:8px;
    font-size: 18px;
    font-family: 'Aclonica',sans-serif;
    color:#E5e7eb;
}
.nav-items img{
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(22%) sepia(88%) saturate(3729%) hue-rotate(322deg) brightness(90%) contrast(95%);
}
.top-container{
    background-color:#1F2937;
}
.elements-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:50px 0px ;
}
.elements-container h1{
    font-size: 48px;
    margin: 0px;
    font-weight:900;
    color: #F9FAF8;
}
.elements-container p{
    margin: 0px;
    font-size: 18px;
    color:#E5e7eb;
}
.elements-container button{
    background-color: #3882F6;
    color: white;
    height: 30px;
    width: 120px;
    border:0;
    border-radius: 6px;
    margin-top: 10px;
}
.content{
    width: 400px;
}
.image{
    width: 400px;
    height: 200px;
    background-color:#6D747D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information-container{
    margin-bottom: 80px;
}
.information-container h1{
    text-align:center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.card-container{
    display:flex;
    justify-content: center;
    gap:50px;
}
.card{
    width: 150px;
    height: 150px;
    text-align: center;
}
.card div{
    border:3px solid #3882F6;
    border-radius:8px;
    width: 150px;
    height: 150px;
}
.quote-container{
    background-color: #E5e7eb;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:30vh;
    margin:50px  0px;
}
.quote-container p{
    font-size: 36px;
    color: #1F2937;
    padding: 0;
    margin: 0;
}

.author{
    display: flex;
    justify-content: end;
}
.author p {
    font-weight: bold;
    font-size: 20px;
}

.action-container{
    background-color: #3882F6;
    border-radius: 10px;
    margin: 100px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.action-content{
    color: #F9FAF8;
}
.action-container button{
    background-color: transparent;
    color: #F9FAF8;
    height: 30px;
    width: 120px;
    border: 2px solid #F9FAF8;
    border-radius: 6px;
    align-self: center;
}
footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}